@model GymManagementSystem.Models.Staff

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Staff Details
                </h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-5">Name:</dt>
                    <dd class="col-7"> @Html.DisplayFor(model => model.Staff_Name)</dd>
                    <dt class="col-5">Surname:</dt>
                    <dd class="col-7"> @Html.DisplayFor(model => model.Staff_Surname) </dd>
                    <dt class="col-5">Gender:</dt>
                    <dd class="col-7">@Html.DisplayFor(model => model.Gender)</dd>
                    <dt class="col-5"> Email:</dt>
                    <dd class="col-7">@Html.DisplayFor(model => model.Email)</dd>
                </dl>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a asp-action="Edit" asp-route-id="@Model.Staff_id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>       
    </div>
</div>
